################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/out/build/x64-Debug
/out/build/x64-Release
/SpaceBattle/out/build/x64-Debug
/SpaceBattle/out/build/x86-Debug
